# Ignore node_modules in all folders
node_modules/
**/node_modules/

# Ignore all .env files anywhere
**/node_modules.zip/
**/.elasticbeanstalk.zip/
backend.zip
.env
**/.env

# Ignore frontend and backend build outputs
build/
dist/
**/build/
**/dist/

# macOS system file
.DS_Store

# Optional: Ignore logs
*.log
logs/
npm-debug.log*

# Optional: Ignore OS and editor junk
Thumbs.db
.vscode/
.idea/
